.header-container {
    height:900px;
    position:relative;
    background-size: cover;
    margin-bottom: 20px;
}
.header-container::after {
    width: 100%;
    height: 650px;
    left: 0px;
    content:' ';
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    background-color: #FBD062;
    z-index: -50;
    border-radius: 0 0 100px 0;
}