.status-container{
    height: 250px;
    width: 300px;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
}
.status-container button{
    outline: none;
    border: none;
    border-radius: 8%;
    padding: 3%;
}