.service-list{
    height: 100%;
    width: 100%;
    margin: 10px;
    background-color: white;
    border-radius: 3%;
}
.status-bar{
    background-color: #e0ddd4;
    background-position: center;
    height: 30px;
    width: 80%;
    position: relative;
    border-radius: 12px;
    
}
.service-list1{
    height: 100%;
    width: 100%;
    margin: 20px;
    background-color: white;
    border-radius: 3%;
}
.status-bar1{
    background-position: center;
    height: 30px;
    width: 60%;
    position: relative;
    border-radius: 12px;
    
}